h1,h2,h3,h4,h5 {color:DarkRed;}
body {background-color:Peachpuff;}
p {font-family:"Lucida Console", Monaco, monospace;}
h1,h2,h3,h4,h5 {font-family:"Courier New", Courier, monospace;}
li {font-family:"Courier New", Courier, monospace;}
table {font-family:"Courier New", Courier, monospace;}
thead {font-family:"Lucida Console", Monaco, monospace;}
p {color: rgb(143, 86, 86);}
